body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #F6E3CE;
}

/* Kind of like an override */
.container {
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-color: #F5D0A9;
  border: dashed 5px rgba(245, 188, 165, 0.8);
  -moz-box-shadow: 5px 0px 5px #888;
  -webkit-box-shadow: 5px 0px 5px #888;
  box-shadow: 0px 5px 5px #888;
}
.form-control {
  /*position: relative;*/
  font-size: 16px;
  height: auto;
  padding: 10px;
  margin-top: 5px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-frame .form-control:focus {
  z-index: 2;
}

.form-frame input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-frame {
  max-width: 800px;
  padding: 15px;
  margin:0 auto;
}

input[type="text"]{
  min-width: 100%;
}
button{
  min-width: 100%;
}

/* another one of those overrides */
.btn-primary {
  color: #ffffff;
  background-color: #F79F81;
  border-color: #F5A9A9;
  border-width: 2px;
}

/* Styles specific to scrollpane */
.scroll-pane {
  height: 150px;
  min-width: 100%;
  background-color: rgba(251, 242, 239, 0.5);
  opacity: 0.8;
  overflow: auto;
  margin-bottom:10px;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
   background-color:rgba(245, 188, 165, 0.8);
}
 
::-webkit-scrollbar-thumb {
    background-color:#F5A9A9;
}